%html
%head
  %title random soma
  = javascript_include_tag 'jquery'
  = javascript_include_tag 'somaize'
  = stylesheet_link_tag 'somaize'
%body
  .midst
    = submit_tag 'random soma.fm', :class => 'dabutton'
